@import 'base/variables';
@import 'blocks/titles';
@import 'blocks/fish';
@import 'blocks/buttons';
@import 'blocks/circles';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/forwhom';
@import 'blocks/advantages';
@import 'blocks/cases';
@import 'blocks/success';
@import 'blocks/test';
@import 'blocks/qa';
@import 'blocks/aboutUs';
@import 'blocks/footer';
@import 'blocks/modal';

body {
    position: relative;
}

section {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.hidden {
    display: none;
}