.promo {
    margin-top: 100px;
    height: 800px;
    background-color: #FFFFFF;
    background: url(../img/bg_train.png) center (center/cover) no-repeat;
    padding: 100px 0;
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    font-family: 'Roboto';
    position: relative;
    //z-index: 1;    

    &__header {
        position: relative;
        //margin-top: 100px;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        text-transform: uppercase;
        color: #000000;
        //z-index: 2;
    }

    &__subheader {
        position: relative;
        margin-top: 40px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        //z-index: 2;
    }

    &__button {
        margin-top: 100px;
        z-index: 2;
        transition: 0.2s all ease-in-out;

        &:hover {
            background-color: #EB4E45;
            color: #FFFFFF;
            border: none;
            transition: 0.2s all ease-in-out;
            // transition: margin-right 2s ease-in-out .5s;
        }
    }

    &__circle {
        position: fixed;
        left: 694px;
        top: -256px;
        z-index: -1;



        // opacity: 0;
        // /*Элемент полностью прозрачный (невидимый)*/
        // transition: 1s;
        // /*Скорость перехода состояния элемента*/
        // animation: show1 3s 1;
        // /* Указываем название анимации, её время и количество повторов*/
        // animation-fill-mode: forwards;
        // /* Чтобы элемент оставался в конечном состоянии анимации */
        // animation-delay: 0s;
        // /* Задержка перед началом */

        // @keyframes show1 {
        //     0% {
        //         top: -1256px;
        //     }

        //     100% {
        //         top: -256px;
        //         opacity: 1;
        //     }
        // }
    }

    &__image {
        position: absolut;
        left: -1010px;
        top: 550px;
        z-index: 2;
    }
}