.title {
    display: flex;
    justify-content: space-between;
    color: #000000;
    width: 100%;

    &__main {
        width: 50%;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
    }

    &__descr {
        width: 50%;
        font-weight: 400;
        font-size: 20px;
    }

    &__forwhom {
        color: #ffffff;
    }

    &__test {
        color: #ffffff;
    }

    &__test &__descr {
        //display: flex;
        //justify-content: flex-end;
        text-align: end;
    }
}